[2020-04-24 11:53] hereisnaman opened #4 "[Add Event] Add availability status in attendees search results"

[2020-04-24 13:38] #4 closed

[2020-04-24 14:18] hereisnaman opened #6 "[User] Modify availability check to consider all status expect declined or refused"
Modify the availability logic to result in busy if the the invite status is not declined or refused.

[2020-04-24 14:20] hereisnaman opened #7 "[CalendarEventInvite] Fix N+1 issue in invites availability field"
To improve the performance of the query by reducing the no. of separate db queries. Need to batch the availability status check queries in [invite.availability](https://github.com/coding-blocks/gondor/blob/master/api/graphql/query/CalendarEventInvite/availability.js).

Problem: [N+1](https://engineering.shopify.com/blogs/engineering/solving-the-n-1-problem-for-graphql-through-batching)
Solution: [

[2020-04-24 14:28] hereisnaman opened #8 "[Dev] Integrate prettier with precommit hook"

[2020-04-24 14:38] #6 closed

[2020-04-24 14:53] #8 closed

[2020-05-14 16:18] hereisnaman opened #18 "[ZoomAccounts] Fix N+1 issue in availability field"
To improve the performance of the query by reducing the no. of separate db queries. Need to batch the availability status check queries in [zoomAccount.availability](https://github.com/coding-blocks/gondor/blob/master/api/graphql/query/ZoomAccount/availability.js).

Problem: [N+1](https://engineering.shopify.com/blogs/engineering/solving-the-n-1-problem-for-graphql-through-batching)
Solution: [Dat

[2020-05-14 20:33] hereisnaman opened #19 "[Core] Integrate Sentry"
Integrate sentry raven to both backend and frontend.

[2020-05-14 20:35] hereisnaman opened #20 "[404] Create a 404 page"
Taking inspiration from: https://online.codingblocks.com/404 create default nextjs 404 page.

[2020-05-15 01:57] gauthampkrishnan commented on #20
Sir do you want the exact design or just a simple page?

[2020-05-15 03:13] Niteshrocks opened #21 "[Readme] Getting started is not enough"
This single command is not enough for getting started. Too many things are missing in that such as how to install npm, yarn, and install dependencies via yarn.

Is there any bounty under BOSS, that can be added to this issue?

[2020-05-15 04:23] 0xnmn commented on #20
@gauthampkrishnan mainly the graphic only. And also can add a heading saying '404'. May be some bg color or gradient. Doesn't have to be exactly like anything.

Simply something good to look at.

[2020-05-15 04:24] scortier commented on #20
@hereisnaman  Can i work on this issue??

[2020-05-15 05:07] 0xnmn commented on #21
@Niteshrocks have added bounty, you can update the read me.

[2020-05-15 05:44] gauthampkrishnan commented on #20
@scortier  yes you can

[2020-05-15 07:01] nitesh585 commented on #21
Thanks :)

[2020-05-15 07:02] nitesh585 commented on #21
Thanks :)

[2020-05-15 07:21] rajdeepj1363 commented on #21
Added hyperlink to GraphQl documentation.

[2020-05-15 12:27] samagragupta opened #27 "Proper arrangement of username and image"
![Capture](https://user-images.githubusercontent.com/32234926/82050325-93cb5c00-96d5-11ea-8910-531a9f2f7427.JPG)
IN mobile view: Proper arrangement of username and image

[2020-05-15 12:32] samagragupta opened #28 "Side bar is not of full height"
![Capture](https://user-images.githubusercontent.com/32234926/82050673-2d930900-96d6-11ea-8986-d49b913d0ad0.JPG)

[2020-05-15 12:32] coderrsid commented on #18
Can i work on this @hereisnaman ?

[2020-05-15 12:35] samagragupta opened #29 "Menu button not working"
Theme Reference: https://gogo-react.coloredstrategies.com/app/dashboards/default
![Capture](https://user-images.githubusercontent.com/32234926/82050957-9b3f3500-96d6-11ea-9828-aff351464d82.JPG)
In mobile view: Menu button not working

[2020-05-15 13:12] coderrsid commented on #20
I want to work on this issue!

[2020-05-15 13:26] abhinavgup commented on #20
I want to work on this issue

[2020-05-15 13:47] 0xnmn commented on #18
@coderrsid sure, I am assigning it to you. Let me know if you need any help.

[2020-05-15 13:49] coderrsid commented on #18
Although it'll be a big implementation. Sure i'll see what i can do.

[2020-05-15 14:08] joeedwin commented on #7
Can i work on this @hereisnaman

[2020-05-15 14:09] kunal202 commented on #7
Working on this!!

[2020-05-15 14:16] joeedwin commented on #7
ok bro have you setup the code?
it is showing 404 for me
help me

[2020-05-15 14:20] 0xnmn commented on #27
Assigned bounty.

[2020-05-15 14:20] 0xnmn commented on #28
Assigned Bounty

[2020-05-15 14:21] 0xnmn commented on #29
Assigned Bounty

[2020-05-15 14:25] kunal202 commented on #7
fork -> clone -> npm install -> npm install -g yarn -> yarn install -> yarn dev
Worked for me

[2020-05-15 14:30] hereisnaman opened #31 "[App] Add ErrorLayout component and integrate it with createPage"
Add a default error layout component saying "There was some error" and an image, taking inspiration from [here](https://online.codingblocks.com/404).

Use the component as the default ErrorComponent in [createPage](https://github.com/coding-blocks/gondor/blob/master/app/utils/createPage.js#L19).

Also integrate it with the _app component to be rendered on an error getting caught.

[2020-05-15 14:34] hereisnaman opened #32 "[BaseConnection] fix edge.cursor mismatch."
The cursor for each node generated by the [BaseConnection](https://github.com/coding-blocks/gondor/blob/master/api/graphql/base/ConnectionResolver.js#L37) does not match with the start and end cursors generated by [Sequelize Pagination](https://www.npmjs.com/package/sequelize-cursor-pagination).

Check the implementation of the package and replicate/fix the logic of generating cursor in the BaseCo

[2020-05-15 14:37] 0xnmn commented on #7
@joeedwin I am assigning it to you. Please share you ideas around solving this in the thread for discussing.

Let me know where I can help you.

[2020-05-15 15:07] hereisnaman opened #33 "[App Menu] Display right sidebar on mobile devices below the content"
Currently the right sidebar is hidden on mobile devices. Make it appear below the content.

Desktop
![Screenshot 2020-05-15 at 8 35 47 PM](https://user-images.githubusercontent.com/22571395/82065400-af416180-96eb-11ea-83e7-73a04e9ebec7.png)

Mobile
![Screenshot 2020-05-15 at 8 36 47 PM](https://user-images.githubusercontent.com/22571395/82065513-d5670180-96eb-11ea-8ecb-612a58e0761e.png)

[2020-05-15 15:24] kunal13053 commented on #28
I want to work on this issue.

[2020-05-15 15:36] 0xnmn commented on #28
@samagragupta do you want to work on this? Otherwise I'll assign it to @kunal13053

[2020-05-15 15:49] 0xnmn commented on #20
@gauthampkrishnan @scortier @coderrsid @abhinavgup I'll merge the one looking best.

[2020-05-15 15:50] 0xnmn commented on #21
@rajdeepj1363 your PR has been merged, awarded you 20 points, you can claim it.

[2020-05-15 15:51] samagragupta commented on #28
@hereisnaman I want to work on this.

[2020-05-15 15:54] rational-kunal opened #34 "Default value for clientId and clientSecret is required"
Default value for `clientId` and `clientSecret` is required to able to authenticate locally

ref:
https://github.com/coding-blocks/gondor/blob/2e92a1a02bf04c84fd1254793c8e339aef78e039/api/config/index.js#L7-L8

[2020-05-15 15:55] rahullli commented on #20
I want to work on this issue

[2020-05-15 15:55] samagragupta commented on #33
I want to work on this.

[2020-05-15 16:00] anktrj commented on #31
I like to take up on this issue.
What I have understood is I have to first create a component for default error like https://online.codingblocks.com/404 then integrate it to createPage and _app component.
Am I right?

[2020-05-15 16:06] sonalibhatia23 commented on #33
@media(max-width:799px){
	#site-content>.container{
		display: flex;
    	flex-flow: column;
	}

	#site-content>.container>#sidebar-right{
		display: block !important;
    	order: 2;
	}
}

[2020-05-15 16:07] 0xnmn commented on #33
@samagragupta I am assigning this to you.

[2020-05-15 16:09] 0xnmn commented on #31
@ankiiitraj yes you are right, I am assigning this to you.

[2020-05-15 16:19] vandana1499 commented on #20
@hereisnaman May I work on this issue?  We need to create graphics for 404 page, right ?

[2020-05-15 16:30] prathambatra commented on #31
@hereisnaman I also want to work on this.

[2020-05-15 16:53] Aakansha99 commented on #27
Can i work on this issue?

[2020-05-15 16:58] samagragupta commented on #27
@Aakansha99 Sorry, I have already created the PR.

[2020-05-15 17:00] chtushar commented on #31
@hereisnaman Sir I'm unable to install some packages since they are deprecated, what to do?
![Screenshot from 2020-05-15 22-18-28](https://user-images.githubusercontent.com/33191895/82076522-98a30680-96fb-11ea-9b67-6ac8201e11cd.png)

[2020-05-15 17:14] RaghavK16 commented on #20
I will work on this.

[2020-05-15 17:22] chtushar commented on #31
@hereisnaman Also getting this error on running `yarn dev`

![Screenshot from 2020-05-15 22-39-47](https://user-images.githubusercontent.com/33191895/82078367-a908b080-96fe-11ea-92a5-85c75c4bcda6.png)

[2020-05-15 17:33] bharath-123 commented on #32
Hey I would like to work on this. I am beginning work on this.

[2020-05-15 17:43] bharath-123 commented on #32
How can I go about reproducing this issue?

[2020-05-15 17:55] aggautam2628 commented on #33
I want to work on this.

[2020-05-15 18:01] 0xnmn commented on #34
Please follow the guidelines [here](https://github.com/coding-blocks/gondor#setting-up-oneauth) to setup oneauth locally and get the client id and secret.

[2020-05-15 18:01] #34 closed

[2020-05-15 18:08] #33 closed

[2020-05-15 18:14] hereisnaman opened #38 "[UserCalendar] Hide AppMenu for Non Admins and Members on Mobile and Tablets"
Hide the AppMenu containing TeamMembers Component on Calendar Page if the user is non admin or non member.

![](https://user-images.githubusercontent.com/32234926/82081184-84fb9e00-9703-11ea-8c73-fc3d2fb2a2ff.JPG)

[2020-05-15 18:15] joeedwin opened #39 "[Event Types] Map event type with its name"
Create a event type - name map [here](https://github.com/coding-blocks/gondor/blob/master/app/components/ColorsList/index.js). Treat the `name` as type and render the actual name rather.

example:
[code]
![image](https://user-images.githubusercontent.com/26297616/82082686-12d88880-9706-11ea-8ddf-1ccd19beabf3.png)

[2020-05-15 18:28] prathambatra commented on #31
@hereisnaman please tell me this - If I am setting this locally do I also need to run oneauth locally or I can give account.codingblocks.com in oneauth URL?

[2020-05-15 18:58] 0xnmn commented on #32
For reproducing the issue, make the following query using the graphql playground at `localhost:3000/api/graphql

[code]

You will see that the `startCursor` won't be same at `edges[0].cursor` and `edges[<last_index].cursor` won't be same as `endCursor`.

[2020-05-15 19:07] 0xnmn commented on #31
@prathambatra you can create a client application at account.codingblocks.com and use it locally too, though that way you can only test with 1 user.

There is impersonation feature available too, I'll add wiki about it.

[2020-05-15 19:12] prathambatra commented on #31
@hereisnaman thanks. I was thinking of setting a state variable when we catch an error and then based on it render the error component in _app. It seems so simple. Am I missing something?

[2020-05-15 19:31] 0xnmn commented on #31
No that is perfect, name it `hasError`.

[2020-05-15 20:11] hereisnaman opened #40 "[Dev] Refactor dev script to use rimraf"
Change the `yarn dev` script to use [rimraf](https://www.npmjs.com/package/rimraf).

[2020-05-15 20:54] 0xnmn commented on #27
The solution is to change the column width the [right section](https://github.com/coding-blocks/gondor/blob/master/app/components/Navbar/index.js#L50) for mobile devices.

[2020-05-16 00:19] 0xnmn commented on #27
Yes you can.

[2020-05-16 05:11] jugshaurya commented on #31
I guess it is same as adding Error Boundary to the App

[2020-05-16 05:12] jugshaurya commented on #31
@hereisnaman  is it?

[2020-05-16 05:15] jad837 opened #42 "Typo mistake in README.md"
Under Setting Up OneAuth on first line
-->This project uses OneAuth as a signle sign on server.

should be as
-->This project uses OneAuth as a single sign on server.

[2020-05-16 05:57] jashasweejena commented on #40
Can I take this up @hereisnaman ?

[2020-05-16 07:25] isourav545 commented on #20
I want to work on this issue

[2020-05-16 07:50] harshu1470 commented on #29
can I work on this?

[2020-05-16 10:14] #42 closed

[2020-05-16 10:17] RutujaD182 commented on #39
I have started to work on this issue.

[2020-05-16 10:31] 0xnmn commented on #20
The best and quick solutions will be selected. The issue is open to everyone.

[2020-05-16 10:33] anktrj commented on #20
how to render this component with 404 occurs. little help

[2020-05-16 10:36] 0xnmn commented on #31
@jugshaurya yes, error boundaries exists at various places but nothing is shown there right now.

[2020-05-16 10:37] 0xnmn commented on #29
@harshu1470 go ahead

[2020-05-16 10:58] 0xnmn commented on #20
I'll let you explore the Next Js docs for that.

[2020-05-16 11:17] jugshaurya commented on #31
@hereisnaman I am working on this

[2020-05-16 11:23] hereisnaman opened #46 "[Impersonation] Add User Impersonation UI option for Admins"
Impersonation is helpful feature for debugging in both dev and prod environments. The current implementation is such that, if the logged in user is an Admin, you can add a cookie named [iuid](https://github.com/coding-blocks/gondor/blob/master/api/middlewares/authenticate.js#L14) with the value of `user_id` of any user, on refresh you will be logged in as that user. Removing the cookie will take y

[2020-05-16 11:24] 0xnmn commented on #40
Sure

[2020-05-16 12:06] jugshaurya commented on #31
@hereisnaman is it what you want or if want some modification.

![is](https://user-images.githubusercontent.com/39825643/82119388-ba53ca80-979b-11ea-8432-29166137adbd.png)

- Tell me should I style it more or something you want to add to it.

[2020-05-16 12:13] joeedwin commented on #39
I am already working

On Sat, May 16, 2020, 3:47 PM Rutuja Dhanawade <notifications@github.com>
wrote:

[2020-05-16 12:29] 0xnmn commented on #31
This should work for https://github.com/coding-blocks/gondor/issues/20.
For a common ErrorLayout we can have the image and text below it saying "There was some error".

[2020-05-16 12:33] jugshaurya commented on #31
Yes, I have created an ErrorLayout component which is used in both _app.js and CreatePage.js.

Will be creating a PR soon just asking for the design.
- I am going with the same image in the screenshot as it is already available and doing image and text below it saying "There was some error" as per your comment.

[2020-05-16 12:51] jugshaurya commented on #31
@hereisnaman Please review

[2020-05-16 12:53] jugshaurya commented on #46
@hereisnaman may I do this?
assign it to me.

[2020-05-16 13:07] 0xnmn commented on #46
@jugshaurya you can start working on it.

[2020-05-16 14:28] jugshaurya commented on #46
@hereisnaman
progress Report and some help wanted:

- Point2 is done 😍.
- Point1 requires all the users to show in the select user dropdown. Can you tell me how can't get all the users when I have created a single sign-on #CodingBlocks. No local Auth is set up in my case.
- Just some Pointers Please.
![point2](https://user-images.githubusercontent.com/39825643/82122167-90a49e80-97af-11ea-9166-3241

[2020-05-16 15:14] 0xnmn commented on #46
Good progress. I have added a script [here](https://github.com/coding-blocks/gondor/blob/master/api/bin/seedUsers.js) to seed users in the database. You can use that.

`npx babel-node api/bin/seedUsers.js`

[2020-05-16 15:42] prathambatra commented on #31
@hereisnaman please review #49

[2020-05-16 15:43] prathambatra commented on #31
![Screenshot from 2020-05-16 21-02-44](https://user-images.githubusercontent.com/29707062/82124007-12012e80-97ba-11ea-9f5b-381cb20ea588.png)

[2020-05-16 17:44] jugshaurya commented on #46
@hereisnaman, So basically you want to show all the available user in impersonating select dropdown and then select the user to add that user based cookie and reload the page right? I am new to graphql can you tell me how can I get all the Database saved users ?

[2020-05-16 18:02] jugshaurya commented on #46
@hereisnaman

![invite_users](https://user-images.githubusercontent.com/39825643/82126872-2a2e7900-97cd-11ea-93d9-f38eaa2be81d.png)

Point 1 functionality to show the user is similar to the Invite Users as well as Select Zoom Account.I guess all three places require the same thing to get respective data and set them as select options. Right?

[2020-05-16 18:11] jugshaurya commented on #46
@hereisnaman, So basically you want to show all the available user in impersonating select dropdown and then select the user to add that user based cookie and reload the page right? I am new to graphql can you tell me how can I get all the Database saved users ?

[2020-05-16 19:06] 0xnmn commented on #46
Yes all those places are using the same component. You don't need to perform any queries. You can simply use [this](https://github.com/coding-blocks/gondor/blob/master/app/components/UserSelect/index.js) component and it will handle it for you.

[2020-05-16 19:11] YashKumarVerma opened #51 "Readme Typo"
![image](https://user-images.githubusercontent.com/14032427/82128221-1ee04b00-97d7-11ea-8907-c46d32639bb4.png)
both are same

[2020-05-16 19:12] prathambatra commented on #31
@hereisnaman please review #50

[2020-05-16 19:56] #51 closed

[2020-05-16 19:58] #40 closed

[2020-05-16 20:13] PyAgni commented on #29
@hereisnaman Is this bug only in mobile view or in desktop view too? I'm facing same issue in desktop view too. Can you please confirm?

[2020-05-16 20:27] 0xnmn commented on #29
We don't have such need in desktop view, but its good to have.

[2020-05-17 14:45] #31 closed

[2020-05-17 15:01] prathambatra commented on #20
@hereisnaman you want that for all incorrect routes  404 page should be rendered right? this is what happens in online.codingblocks.com

[2020-05-17 15:46] prathambatra commented on #20
@hereisnaman do you also need dashboard as shown in 404 page of https://online.codingblocks.com/404

[2020-05-17 15:46] hereisnaman opened #56 "Hide Navbar and Sidebar based on query params"
In the Dashboard Layout, access the query params and hide Navbar and sidebar if `embed` query param exists.

[2020-05-17 15:49] coderrsid commented on #29
@hereisnaman  What is the actual use of this menu button here, as i can't see any handler attached to it? Is it used to enable/disable the view of the Sidebar component ? or any other component?

[2020-05-17 16:05] jugshaurya commented on #46
@hereisnaman, should I create the new modal inside app/modals and create a new folder named Impersonate and a index.js file to maintain the code consistency and implement the same component as AddEvent to solve this issue? If not can you tell me how the props to UserSelect Component mainly the {value,  availabilityStatusDuring,  onChange} are going to be ? or from where are they coming from. I am

[2020-05-17 16:08] jugshaurya commented on #20
@hereisnaman, is this issue also closed from https://github.com/coding-blocks/gondor/pull/47?

[2020-05-17 16:35] hereisnaman opened #57 "[Events] Add is_public and is_open columns to calendar event."
1. Write a migration to add `is_public` and `is_open` boolean columns to `calendar_events` table with default value as `false`.
2. Update the sequelize model accordingly
3. Update CalendarEvent graphql type
4. Update the AuthorizationPolicy to allow update of the columns to organizer and admins and allow read to everyone.
5. Update CalendarEventCreate and CalendarEventUpdate mutations to support t

[2020-05-17 16:46] joeedwin commented on #57
I will work on this

[2020-05-17 16:49] 0xnmn commented on #20
No need to wrap with dashboard layout.

[2020-05-17 16:50] 0xnmn commented on #20
No this is a separate issue.

[2020-05-17 16:52] prathambatra commented on #20
@hereisnaman review #58

[2020-05-17 17:11] 0xnmn commented on #46
Yes create a new modal names Impersonate. You need to study the Components/Event/Form to see how to use UserSelect. You do not need to pass any availabilityStatus prop and we don't have to show it.

[2020-05-17 17:21] jugshaurya commented on #56
@hereisnaman I am working on this, assign it to me

[2020-05-17 17:24] 0xnmn commented on #29
Menu button should switch between states of the sidebar. Right now There is no submenu, so only hide and show the main sidebar menu.

[2020-05-17 17:50] prathambatra commented on #56
@hereisnaman I also want to work on this.

[2020-05-17 17:56] jugshaurya commented on #56
@hereisnaman, does hide means simply don't display like -
![hide](https://user-images.githubusercontent.com/39825643/82155873-7d6bfe80-9895-11ea-8fe9-ed4d845fefb6.png)

or you want something else? can you please specify what does hide means? does this means simply not rendering these components or should I change some styles as well?

[2020-05-17 18:09] jugshaurya commented on #56
or you want something like this.

![wanted](https://user-images.githubusercontent.com/39825643/82156236-a5f4f800-9897-11ea-93a9-71dac5c4dc49.png)

[2020-05-17 18:22] 0xnmn commented on #56
@jugshaurya Simply hide the components and for '.dashboard-layout main' set margin 0 and padding: 20px!important;

[2020-05-17 18:40] jugshaurya commented on #56
@hereisnaman,  do you want some name changes?
![hide](https://user-images.githubusercontent.com/39825643/82156966-35040f00-989c-11ea-8416-ef270ce25022.png)

[2020-05-17 18:40] gudianirudha opened #60 "Idea"
The error page doesn’t have to be static. This page features the website’s name, then shows the words being broken apart by “404.” It’s a clever way to incorporate movement on to a page.

[2020-05-17 18:42] 0xnmn commented on #56
Checkout [classnames](https://www.npmjs.com/package/classnames) library. Use it instead.

Also pass class name, no inline css.

[2020-05-17 18:57] jugshaurya commented on #56
@hereisnaman, now -
![hide](https://user-images.githubusercontent.com/39825643/82157240-dd66a300-989d-11ea-9660-4086c5af765b.png)

![hide1](https://user-images.githubusercontent.com/39825643/82157308-4a7a3880-989e-11ea-9dfc-a264e20377ae.png)

output-
![output](https://user-images.githubusercontent.com/39825643/82157319-67167080-989e-11ea-8fb2-7d4b3df83a50.png)

[2020-05-17 19:01] jugshaurya commented on #56
@hereisnaman, is this the problem? for this URL http://localhost:3000/me/calendar?embed=

Navbar and sidebar will not hide as empty strings typecasts to false.

[2020-05-17 19:03] 0xnmn commented on #56
Check only for the existence of key.

[2020-05-17 19:05] jugshaurya commented on #56
- using hasOwnProperty()
and classNames styling is fine?

[2020-05-17 19:10] 0xnmn commented on #56
I'll review the final PR.

[2020-05-17 19:20] coderrsid opened #62 "Graphql schema build removes spaces in file paths"
![](https://cdn.discordapp.com/attachments/711240540540239913/711557760214368296/unknown.png)

[2020-05-17 19:50] coderrsid opened #63 "Close the modal on clicking outside it"
The modal should close on clicking outside of it.

![image](https://user-images.githubusercontent.com/35633575/82158470-b318e380-98a5-11ea-8747-b9cba26bc23a.png)

[2020-05-17 20:01] #21 closed

[2020-05-17 20:09] 0xnmn commented on #63
Intentionally not present.

[2020-05-17 20:09] #63 closed

[2020-05-17 20:10] 0xnmn commented on #60
Unable to understand what you are trying to suggest here.

[2020-05-17 20:12] hereisnaman opened #64 "Truncate Event Title in View Event Modal"
Trumcate the event name  and add title attribute to the heading element with the value of event name.
![Screenshot 2020-05-18 at 1 39 49 AM](https://user-images.githubusercontent.com/22571395/82158955-bcf01600-98a8-11ea-8528-f0e937470443.png)

[2020-05-17 20:13] hereisnaman opened #65 "Hide Attendees Label if no Attendees Present in View Event Modal"
Hide the attendees text in view event modal if the attendees array is empty.

![Screenshot 2020-05-18 at 1 39 49 AM](https://user-images.githubusercontent.com/22571395/82158987-f3c62c00-98a8-11ea-95f9-018827b02768.png)

[2020-05-17 22:21] prathambatra commented on #65
I will work on this.

[2020-05-18 07:36] coderrsid commented on #65
@hereisnaman , i got this error while adding an event to any date while testing
![image](https://user-images.githubusercontent.com/35633575/82186355-5995d080-9908-11ea-8a98-a909ca024bf9.png)

Can i just add the PR for you to test it?

[2020-05-18 08:23] prabalsingh24 commented on #57
Can I work on this too?

[2020-05-18 10:27] coderrsid commented on #32
![image](https://user-images.githubusercontent.com/35633575/82202821-18a9b600-9920-11ea-8f59-c0ee88eb7795.png)

[2020-05-18 11:13] coderrsid commented on #32
I don't have oneauth local setup, i am using ONEAUTH_CLIENT_ID, ONEAUTH_CLIENT_SECRET by creating the instance by second method in my env file
![image](https://user-images.githubusercontent.com/35633575/82206777-79d48800-9926-11ea-8886-5be810a8b8a5.png)

[2020-05-18 11:25] coderrsid commented on #18
@hereisnaman How exactly the query is reaching N+1 issue. I am not able to quite find that!

![image](https://user-images.githubusercontent.com/35633575/82207946-4b57ac80-9928-11ea-9023-381577e1a5d3.png)

[2020-05-18 12:29] jugshaurya commented on #64
@hereisnaman, assign it to me

Also forex to Hawaii House Party, what should be the truncate value?

[2020-05-18 12:34] jugshaurya commented on #56
@hereisnaman, close this issue, solved through https://github.com/coding-blocks/gondor/pull/61

[2020-05-18 12:35] joeedwin commented on #57
I am working on this

[2020-05-18 12:57] #56 closed

[2020-05-18 13:03] 0xnmn commented on #18
@coderrsid
For the query:
[code]

The number of sql queries will be:
1 for finding the list of N zoom accounts.
N queries to find the availability of each of them.

[2020-05-18 13:19] 0xnmn commented on #64
Hint: use bootstrap class for that.

[2020-05-18 13:36] jugshaurya commented on #64
@hereisnaman, how can I get the authorization to create events.
whenever I am adding a new event. I am getting this. Although I am **not** able to invite users and add Zoom account.

![authoration-error](https://user-images.githubusercontent.com/39825643/82219103-7519cf00-993a-11ea-80fd-7732437540be.png)

[2020-05-18 13:37] 0xnmn commented on #64
Study the AuthorizationPolicy in the application.

[2020-05-18 14:00] #20 closed

[2020-05-18 14:15] joeedwin opened #68 "Build in Windows fails as it expects hexadecimal after "\u""
As it is in filepath build should happen

**Screenshots**

![image](https://user-images.githubusercontent.com/26297616/82222775-6550b980-993f-11ea-9ad9-35a81a3cefe1.png)
![image](https://user-images.githubusercontent.com/26297616/82222999-aba61880-993f-11ea-975b-1601b78040a2.png)

Hint - "the path string has to be RAW and not un-escaped. Or you'll have to serialise it some other way."

i will not

[2020-05-18 15:05] 0xnmn commented on #65
Please study the authorization policy in the problem to fix this.

[2020-05-18 15:47] jugshaurya commented on #64
@hereisnaman, I saw the Authorization Policy in Readme and created a client and saved id and secret in .env file, seed the DB with users data and since I used those ids and secret, it always logged me in as Default user. since I am also working at the impersonate feature. can you tell me **what should I put in place of username to update the role?**

![Screenshot from 2020-05-18 21-08-38](https://

[2020-05-18 15:47] 0xnmn commented on #57
Yes you can, first PR with best code quality wins

[2020-05-18 15:54] 0xnmn commented on #64
Paste your account username there.

Also I was talking about the AuthorizationPolicy [here](https://github.com/coding-blocks/gondor/blob/master/api/services/AuthorizationPolicy/index.js)

[2020-05-18 15:59] jugshaurya commented on #68
@hereisnaman, I got its solution. Do I have to change all the template strings that are path in the whole project? or just the place where `\u` in windows us coming up?

[2020-05-18 16:00] jugshaurya commented on #68
I will make a PR after the changes.

[2020-05-18 16:01] 0xnmn commented on #68
Depends on how are going to serialize it. What is your solution?

[2020-05-18 16:05] jugshaurya commented on #68
using the String.raw(). [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/raw)

[2020-05-18 16:06] jugshaurya commented on #68
String.raw\`/home/shaurya/dev/git_repos/gondor/api/graphql/query/user.js\`

[2020-05-18 16:14] 0xnmn commented on #68
Perfect, wrap all the paths for resolvers, mutations and directives too. Please do proper testing in windows environment.

[2020-05-18 16:17] jugshaurya commented on #68
windows terminal? I have a Linux one 😊.  Any ideas how can I get windows terminal just for this task?  I am not on windows :)

[2020-05-18 16:19] jugshaurya commented on #68
I can update the paths but testing can be done by @joeedwin, i guess.

[2020-05-18 16:20] 0xnmn commented on #68
dual boot windows or test on windows azure.

[2020-05-18 16:26] jugshaurya commented on #68
@hereisnaman, OK will try on Window azure or on brothers laptop. will submit a PR soon.

[2020-05-18 16:51] joeedwin commented on #68
@jugshaurya if you want i can test it bro

[2020-05-18 16:52] jugshaurya commented on #68
@joeedwin, I have no problem, ask @hereisnaman him.

[2020-05-18 16:58] samagragupta opened #69 "How to create symlinks for Windows"
Adding about syslink in readme. As many users have problem with that.

[2020-05-18 16:59] jugshaurya commented on #64
@hereisnaman, is this what you want?

![Screenshot from 2020-05-18 22-32-53](https://user-images.githubusercontent.com/39825643/82240269-bf5d7900-9957-11ea-8cd5-5cd8c63d4eb3.png)

[2020-05-18 17:38] 0xnmn commented on #64
@jugshaurya is the action items including edit delete and the status be on the next line, it defeats the purpose of truncating.

[2020-05-18 17:40] 0xnmn commented on #68
@jugshaurya @joeedwin collaborating always helps in learning. Go ahead. I'll distribute the bounties.

[2020-05-18 17:44] jugshaurya commented on #68
@joeedwin, I will make changes soon.

[2020-05-18 18:02] jugshaurya commented on #64
ok, so you want the title, edit-btn, delete-btn, and status(accepted or declined) on the same line.
don't you think it will get suffocating?

[2020-05-18 18:08] jugshaurya commented on #64
@hereisnaman, you mean this
![Screenshot from 2020-05-18 23-37-46](https://user-images.githubusercontent.com/39825643/82245516-b1f8bc80-9960-11ea-8474-54abbad2e42a.png)
?

[2020-05-18 21:54] #65 closed

[2020-05-19 05:04] jugshaurya commented on #68
@hereisnaman, since all the

@hereisnaman since all the generated files will have \u problems and it differs from machine to machine, user to user. Where should i use String.raw()? Can you tell me where these files are generated from ?

![a](https://user-images.githubusercontent.com/39825643/82286805-3cbad500-99bc-11ea-9337-5303d617dc5f.png)

[2020-05-19 05:53] 0xnmn commented on #68
Study api/bin/generate.schema.js

[2020-05-19 07:46] jugshaurya commented on #68
@hereisnaman, my solution is:- What do you think about this?
![hack](https://user-images.githubusercontent.com/39825643/82299221-e016e480-99d2-11ea-9c1c-545bfccddaa7.png)

File changed - api/bin/utils.js

[2020-05-19 11:59] coderrsid commented on #57
@hereisnaman Should i use the badges from react-strap in the view event modal and what should be the type of badge when the it's false?

[2020-05-19 12:08] coderrsid commented on #57
@hereisnaman
1. Don't we have to update the attributes in API/services/CalendarEvent/Form?
2. Also for the fragments, attribute is_open and is_public should be added to EventFragment GraphQL?

[2020-05-19 13:37] jugshaurya opened #72 "Bug: aria-extended giving invalid prop error"
![extend](https://user-images.githubusercontent.com/39825643/82333189-0143f900-9a04-11ea-9c2c-2d8fdc658b2e.png)

[2020-05-19 13:38] jugshaurya commented on #72
@hereisnaman, it should have been aria-expanded.
Will Submit a PR if you want me to solve this

[2020-05-19 14:02] 0xnmn commented on #68
@jugshaurya looks fine, get it tested.

[2020-05-19 14:08] jugshaurya commented on #68
@joeedwin any idea how are we going to do this collaboration?

[2020-05-19 14:10] jugshaurya commented on #68
@hereisnaman should I create a PR to @joeedwin repo by adding him into my remote? and then he merges my changes are then he creates a PR to coding-blocks/gondor?

[2020-05-19 14:58] 0xnmn commented on #57
@coderrsid

1. That is how you update the createEvent and editEvent modals.
2. Yes you can add them in the fragment,

[2020-05-19 14:59] 0xnmn commented on #72
Go ahead

[2020-05-19 15:28] jugshaurya commented on #64
@hereisnaman Please review

[2020-05-19 15:36] jugshaurya commented on #72
@hereisnaman, Please Review

[2020-05-19 15:53] #64 closed

[2020-05-19 15:56] #72 closed

[2020-05-19 16:34] jugshaurya commented on #46
@hereisnaman I got that I need to useUserSelect to select the users once I got them. But the problem is in listing/getting in the users into the impersonate dropdown. For that I have to query the graphqlApi to get all the users. whose code is in UserSelect. But I am Stuck in here. Can you give me a hint?

I may be wrong but I am passing all the roles to get the users. But No luck so far.

![s](htt

[2020-05-19 16:54] jugshaurya commented on #62
@hereisnaman, i am trying this one. Isn't this problem get solved also using String.raw()?

[2020-05-19 16:54] 0xnmn commented on #46
@jugshaurya you don't need to pass any variables, Also it should not be a multi select only only single user select.

I wonder why you are creating a separate component just for the form. You can simply put that in the modal. rename users => user and setUsers -> setUser.

[2020-05-19 17:05] joeedwin commented on #68
bro commit into your branch jugshaurya/gondor.
i will tell if it works then you pull request with  coding-blicks branch@jugshaurya

[2020-05-19 18:12] 0xnmn commented on #62
no

[2020-05-19 18:29] jugshaurya commented on #62
@hereisnaman, This one should work.
![r](https://user-images.githubusercontent.com/39825643/82364333-c7d3b380-9a2c-11ea-956b-834a87cf6fb7.png)

**Code Change:-**
![r1](https://user-images.githubusercontent.com/39825643/82364506-fea9c980-9a2c-11ea-8531-a0169f2e614e.png)

**testing:**
![r2](https://user-images.githubusercontent.com/39825643/82364898-88f22d80-9a2d-11ea-94c2-66659d1f8e99.png)

[2020-05-19 18:38] 0xnmn commented on #62
@jugshaurya this needs to be solved by warping the dir name with space inside quotes.

[2020-05-19 18:43] jugshaurya commented on #62
@hereisnaman, you meant like `'/Users/"BOSS 2022"/gondor'` this?

[2020-05-19 18:44] 0xnmn commented on #62
yes

[2020-05-19 18:47] jugshaurya commented on #46
@hereisnaman,

**Progress:** got the users into the dropdown, like this.
**Remains**. setting the cookie named `iuid`, for that, I think I have to write down a Base Controller and decorator to set cookie `iuid` to `user_id` just like you did with logout. right?

![a](https://user-images.githubusercontent.com/39825643/82365936-02d6e680-9a2f-11ea-9221-d172a71a2804.gif)

[2020-05-19 18:57] coderrsid commented on #19
Is this issue still not resolved?

[2020-05-19 19:00] jugshaurya commented on #62
@hereisnaman, may sound silly!😊 but for that:
1. split the pathString by "/"
2. then map over the array (val) => split val by space and if length>2 return val wrapped in quotes else return val;
3. join the array.
Complexity : (#number of `/` )
correct?

![r3](https://user-images.githubusercontent.com/39825643/82367159-fce20500-9a30-11ea-9987-684f14e3eb5e.png)

[2020-05-19 19:30] 0xnmn commented on #46
Set cookie from client side only and reload the page.

[2020-05-19 19:38] #29 closed

[2020-05-19 19:39] 0xnmn commented on #19
Not resolved. You can work on it.

[2020-05-19 19:41] 0xnmn commented on #62
Not every new line of the code can be reviewed. Please explore the solution, extensively test it and then raise the PR. The final PR shall be reviewed.

[2020-05-20 04:56] namanrai commented on #69
@hereisnaman
@samagragupta
I would like to work on it. Can you please assign it to me?

[2020-05-20 06:00] 0xnmn commented on #69
You can start working, no need of assignment.

[2020-05-20 06:43] namanrai commented on #69
Alright

[2020-05-20 09:08] dibakar95 commented on #69
Hi, I am new to this. Can anyone take up this issue? Do we need to just add steps to create a symlink in the README.md?
@hereisnaman @samagragupta

[2020-05-20 12:36] joeedwin commented on #68
It works for me.@jugshaurya

[2020-05-20 12:50] rahgurung commented on #69
Hey @namanrai, I don't know if this is the right place to say this but few pieces of advice.
1) Always create a new branch from the `master` for each of your issues.
2) Create a PR with that branch to the `master` branch of upstream repo.
3) Don't claim an issue at the BOSS page if your PR isn't merged. You are just wasting both your and the BOSS claim page reviewer's time.
4) Instead of commentin

[2020-05-20 14:27] jugshaurya commented on #68
@hereisnaman verified by @joeedwin

[2020-05-20 15:03] #68 closed

[2020-05-20 21:11] 0xnmn commented on #46
@jugshaurya The cookie path set for iuid is not correct because of which it is not working. Please do proper testing before raising the PR. The path should be set to root.

Fix this to claim the bounty. Also update the label of input field to User and fix the css issue.
<img width="531" alt="Screenshot 2020-05-21 at 2 40 48 AM" src="https://user-images.githubusercontent.com/22571395/82497803-86b2d

[2020-05-21 05:25] #57 closed

[2020-05-21 05:36] hereisnaman opened #78 "[Events] Add Slug to CalendarEvent"
1. Write a migration to add `slug` string column to `calendar_events` table which can be null.
2. Update the sequelize model accordingly
3. Update CalendarEvent graphql type
4. Update the AuthorizationPolicy to allow update of the column to organizer and admins and allow read to everyone.
5. Update CalendarEventCreate mutation to auto generate slug from the event title using [slugify](https://www.

[2020-05-21 06:35] jugshaurya opened #80 "bug: Add Calender Event model not working- types(undefined) error"
Earlier the modal was correctly working out. Now it is not.
![bug](https://user-images.githubusercontent.com/39825643/82530621-5d6d6100-9b5b-11ea-8e00-b1482bb082e5.gif)

[2020-05-21 06:37] jugshaurya commented on #80
@hereisnaman

[2020-05-21 06:45] #80 closed

[2020-05-21 06:46] jugshaurya commented on #80
@working fine, since is_public field was added, people have to run yarn sequelize db:migrate again

[2020-05-21 09:41] kunal202 commented on #78
i would like to work on this

[2020-05-21 09:45] 0xnmn commented on #78
go ahead. Review from this PR should help https://github.com/coding-blocks/gondor/pull/73.

[2020-05-21 09:54] kunal202 commented on #78
Just wanted to ask that when title can't be null then how can slug be null

[2020-05-21 09:58] 0xnmn commented on #78
Was planning to break it into few steps. But yeah sure go ahead and make slug not null. Lets see how you solve it. :)

[2020-05-21 15:02] joeedwin commented on #78
Am i correct?
we should not take input for slug in create but in update we should take

[2020-05-21 16:13] 0xnmn commented on #78
Slug is auto generated, but if someone wants to edit it afterwards, that should be allowed.

[2020-05-21 16:16] #46 closed

[2020-05-21 17:23] coderrsid commented on #78
Can i have a look into this? I guess i have some experience related to it 😄

[2020-05-21 17:26] coderrsid commented on #18
Hey naman, should i wait for the another similar issue for CalendarInvite as he also added dataloader package, so i don't want that package version conflicts happen??

[2020-05-21 17:44] coderrsid commented on #78
Although for the slug we should replace spaces with '_' from the title right?

[2020-05-21 17:46] 0xnmn commented on #18
That is a 1 line change, how hard will it be to resolve it even if that comes?

[2020-05-21 17:48] 0xnmn commented on #78
Sure you can try. use the slugify package to do that work for you.

[2020-05-21 17:51] coderrsid commented on #78
What i was asking is should i replace spaces with '-' or '_' in the title from slugify. What is preferable?

[2020-05-21 18:04] 0xnmn commented on #78
`-`

[2020-05-21 18:50] kunal202 commented on #78
On running migrations through cli, i am getting an error "ERROR: column "slug" contains null values",
any help to resolve it.

[2020-05-21 18:52] kunal202 commented on #78
@coderrsid you have done this while creating a column for is_open, How did you resolve this, Do the migrations need some extra work??

[2020-05-21 19:03] coderrsid commented on #78
You can see in my pull request how i implemented it.

[2020-05-21 19:07] kunal202 commented on #78
Thanks but i am asking that whether you encountered the same error while doing migrations (sequelize db:migrate) if so can you please tell me how you handled it?

[2020-05-21 19:12] 0xnmn commented on #78
Yeah so now answer me how can you make the slug column not null when there are already eateries in the database where there is no slug?

Find the solution.

[2020-05-21 19:14] samagragupta opened #84 "Event type is not visible in mobile view"
![Capture](https://user-images.githubusercontent.com/32234926/82596691-609d3700-9bc5-11ea-8622-822ed9e4f4e9.JPG)

[2020-05-21 19:32] kunal202 commented on #78
Oh... So, After migrations changing slug back to "allow null: false" would work i think

[2020-05-21 19:56] 0xnmn commented on #78
But before that, you will need to write a migration which will generate slug for all the present entities in db.

You can do all these 3 steps in a single migration.

[2020-05-21 23:32] hereisnaman opened #87 "[Styles] Minify theme files and ignore from prettier formatting"
Minify all the css theme files and ignore them from prettier formatting.

[2020-05-21 23:35] hereisnaman opened #88 "[Performance] Fix N+1 query issue in event.inviteStatus"
To improve the performance of the query by reducing the no. of separate db queries. Need to batch the event invite status check queries in [event.inviteStatus](https://github.com/coding-blocks/gondor/blob/master/api/graphql/query/CalendarEvent/inviteStatus.js).

Problem: [N+1](https://engineering.shopify.com/blogs/engineering/solving-the-n-1-problem-for-graphql-through-batching)
Solution: [Dataloa

[2020-05-22 12:52] #69 closed

[2020-05-22 13:31] #88 closed

[2020-05-22 18:52] samagragupta opened #101 "app menu section does not scroll on mobile"
When the app menu and team members section is below Calendar. The window does not scroll over the app menu and team members section.

[2020-05-22 19:50] 0xnmn commented on #101
Add loom recording or gif.

[2020-05-23 00:58] hereisnaman opened #103 "[Refactoring] Enclose all protected fields in an inline fragment"
For all the type definitions in graphql schema enclose the protected fields inside an inline fragment.

For example `User` type definition in https://github.com/coding-blocks/gondor/blob/master/api/graphql/query/User/type.graphql#L7 can be convert to:
[code]

[2020-05-23 05:41] coderrsid opened #106 "[Styles] Event Title & Event Controls are not aligned in center"
## Screenshot
![image](https://user-images.githubusercontent.com/35633575/82722637-1f507880-9ce6-11ea-9a2b-005d1c5c4f5b.png)

[2020-05-23 07:09] #106 closed

[2020-05-23 07:11] #103 closed

[2020-05-23 14:00] samagragupta commented on #101
@hereisnaman
![abc](https://user-images.githubusercontent.com/32234926/82732614-dc18f880-9d2b-11ea-90e7-e72f8a45eec4.gif)

[2020-05-23 15:06] imvmanish19 commented on #87
Can i work on it?

[2020-05-23 16:37] #87 closed

[2020-05-23 17:31] coderrsid opened #109 "[Styles] Position of search icon in search bar of teammates"
## How it is
![image](https://user-images.githubusercontent.com/35633575/82736680-35dbeb80-9d49-11ea-8740-874c3b1d5dfd.png)

## How it should be
![image](https://user-images.githubusercontent.com/35633575/82736706-5dcb4f00-9d49-11ea-8657-d330eb4c86c4.png)

[2020-05-23 17:34] coderrsid opened #111 "[Styles] Wrong position of invalid email notification"
![image](https://user-images.githubusercontent.com/35633575/82736782-c7e3f400-9d49-11ea-9b7b-f3df1d46a36d.png)

[2020-05-23 17:35] 0xnmn commented on #111
What is the issue with this?

[2020-05-23 17:36] coderrsid commented on #109
Should i make the change in gogo-styles as it's using :after selector from there or add a class to the icon element?

[2020-05-23 17:36] coderrsid commented on #111
The dialog is almost inside the input bar. Shouldn't be that below the bar atleast.

[2020-05-23 17:37] 0xnmn commented on #109
no need to add extra class, just override the css in _custom.scss

[2020-05-23 17:37] coderrsid commented on #111
![image](https://user-images.githubusercontent.com/35633575/82736848-2e691200-9d4a-11ea-8926-33a6a755ce4d.png)

[2020-05-23 17:39] coderrsid commented on #111
This looks better i guess
![image](https://user-images.githubusercontent.com/35633575/82736874-6708eb80-9d4a-11ea-82f5-22a9966a4aa5.png)

[2020-05-23 18:17] #78 closed

[2020-05-23 18:31] coderrsid commented on #62
@hereisnaman What is the actual catch and explaination of this issue? I'd like to fix this so no one else go through this like me..

[2020-05-23 18:43] 0xnmn commented on #62
@jugshaurya solutions seems good. Can you create a PR?

[2020-05-23 18:43] jugshaurya commented on #62
@hereisnaman Working on testing it. code already written

[2020-05-23 18:44] #109 closed

[2020-05-23 18:46] hereisnaman opened #113 "[Migration] To generate slug for all the current events and change slug column to not null"
Add a migration which first generates and add slug for all the calendar events in the database and then change the column to not null.

Update:
Also set the slug column to be unique.

[2020-05-23 18:47] 0xnmn commented on #111
It is fine to have it the current way. Theme reference: https://gogo-react.coloredstrategies.com/app/ui/forms/validations

[2020-05-23 18:47] #111 closed

[2020-05-23 19:51] kunal202 commented on #113
I would  like to work on this issue

[2020-05-23 20:10] 0xnmn commented on #113
go ahead. I am assigning this to you.

[2020-05-23 20:15] prathambatra commented on #113
@hereisnaman I am also looking into this.

[2020-05-23 20:27] #39 closed

[2020-05-23 21:00] 0xnmn commented on #7
@prabalsingh24 what is the status on the fix?

[2020-05-23 23:00] #28 closed

[2020-05-23 23:01] #60 closed

[2020-05-23 23:11] hereisnaman opened #114 "[CalendarEvent ] Add auto_accept_requests."
- [ ] Rename `is_open` to `is_requestable`. Write a migration to remove the old column and create a new one. Do the necessary changes in both api and app.
- [ ] Add new boolean column `auto_accept_requests` on `calendar_events`. Integrate it with create event and edit event flows. Add a check for `auto_accept_requests` to be only tru when `is_reqestable` is true.
- [ ] In calendar event request mu

[2020-05-23 23:16] 0xnmn commented on #113
Because there is possibly only one solution. I have assigned this issue to @kunal202 . If in 2 days there is no progress on this, you may take it up.

[2020-05-23 23:37] hereisnaman opened #115 "[Event] Add a new page for /events/<id_or_slug>"
- [ ] Update Protected directive to accept a boolean argument `post_execution`. If the arg is true then check for the authorization after calling the resolver and pass the value returned by the resolver as `entity` while calling the authorization policy.
- [ ] Mark the root query field `event` as `protected` and pass `post_execution` as `true`.
- [ ] Update AuthPolicy to allow read by not logged i

[2020-05-24 03:27] prabalsingh24 commented on #7
I'll make another PR today to fix this. :) Sorry I was busy yesterday

[2020-05-24 04:17] jugshaurya commented on #115
@hereisnaman on it. assign it to me

[2020-05-24 04:26] jugshaurya commented on #114
@hereisnaman, I am working on this

[2020-05-24 05:05] 0xnmn commented on #115
You can not claim all the issues at the same time. Please work on only 1 issue at once.

[2020-05-24 06:18] 0xnmn commented on #7
no worries. Let me know if you need any help.

[2020-05-24 06:37] prathambatra commented on #113
ok i will wait.

[2020-05-24 06:56] faraazahmad commented on #115
@hereisnaman I'm working on it

[2020-05-24 07:36] 0xnmn commented on #115
Go ahead, I see this is your first issue. As this is issue needs knowledge of almost the whole code base, you can reach me on discord if need any help.

[2020-05-24 07:37] prathambatra commented on #115
we decided to work together @faraazahmad

[2020-05-24 07:37] faraazahmad commented on #115
Yes

[2020-05-24 07:37] prathambatra commented on #115
@hereisnaman we are working together.

[2020-05-24 07:45] 0xnmn commented on #115
@faraazahmad @prathambatra

Great. Try to solve this issue step by step. There are 7 tasks. Open a PR once the first 1 is done and then get it reviewed on each task completion.

[2020-05-24 07:46] jugshaurya commented on #114
@hereisnaman , since we are removing the is_open now do we need to delete add_is_public_and_is_open migration because if someone run the migrations. It will add the is_open field as well right?

[2020-05-24 07:50] jugshaurya commented on #114
@hereisnaman,  do I need to delete the is_public_is_open migration file now? Because if someone run the migrations the first time, it will add is_open column to DB which is a problem. as then is_open and is_requestable both exist. or does the migrations runs in some order ? so that first they are added and then renamed!

[2020-05-24 08:59] 0xnmn commented on #114
Migrations ones created are not deleted.

What if all the people or even the production application which has already run that migration now on fresh pull doesn't get that already applied migration file.

Migrations are run in the order of their file name. It is my fault that I missed checking the file names of the migrations you added. As it is expected to for migrations to be generated using `se

[2020-05-24 09:03] coderrsid commented on #115
Can i work on this?

[2020-05-24 10:20] jugshaurya commented on #114
@hereisnaman , Ididnt actually added those migrations. It is my first time working for migration. But since people , atleast me have already run that migration and now we may have other developers coming up. How are we going to solve this wrong name files cases if they can't be deleted? Because they must be deleted! Right?

[2020-05-24 10:57] joeedwin commented on #114
just rename them.?
Migrations run in alpahabetical order..........

[2020-05-24 12:05] kunal202 commented on #114
@jugshaurya  You can use `yarn sequelize db:migrate:undo` to undo the migrations, it will undo the changes

[2020-05-24 16:16] coderrsid commented on #115
@hereisnaman. Is there a condition through which i have to provide the 2 optional args id and slug? and like i didn't really get this point.. and this is the directory of root level query file you're referring to?
![image](https://user-images.githubusercontent.com/35633575/82759130-dc3af600-9e08-11ea-9157-52a96fa7a36f.png)

[2020-05-24 16:49] 0xnmn commented on #114
Yes in this very case, I'll rename the migration. We have to take care this does not happen in future. No worries.

[2020-05-24 18:42] prathambatra commented on #115
@hereisnaman can you tell me this? why are we passing post_execution? we can make an event visible only to related people also by changing auth policy and using protected directive. what is the need for an extra argument?

[2020-05-25 05:12] jugshaurya commented on #114
@hereisnaman, I think both add_is_public and add_slug files are not generated with `sequelize migrate:create` as both file names don't have date identifier in the folder names both require changes.

Let me know when changes are done. Will work on this issue then. as I have to undo last migration changes and run the new ones.

[2020-05-25 05:14] jugshaurya commented on #101
@hereisnaman, would like to work if @samagragupta not working.

[2020-05-25 05:16] samagragupta commented on #101
@jugshaurya I am working on that.

[2020-05-25 05:33] #62 closed

[2020-05-25 05:41] 0xnmn commented on #114
You can do it in this PR. Add the date part to the files name in the order they should be applied.

[2020-05-25 05:42] 0xnmn commented on #101
@samagragupta how are you trying to solve this issue?

[2020-05-25 05:44] jugshaurya commented on #101
@samagragupta  @hereisnaman,I think simply adding a height of 100vh to scroll menu can solve this. I tried and it works

[2020-05-25 05:46] 0xnmn commented on #101
How will 100vh work for desktop? Please share a gif.

[2020-05-25 05:52] jugshaurya commented on #101
@hereisnaman, sorry my bad: max-height: 100vh can solve this. here is how:

![a](https://user-images.githubusercontent.com/39825643/82782450-f9f47380-9e79-11ea-8d61-6dcb6a7ef007.gif)

[2020-05-25 05:55] 0xnmn commented on #101
Go ahead, create a PR.

[2020-05-25 06:07] samagragupta commented on #101
@hereisnaman @jugshaurya From that we can scroll the team members section only. We cannot scroll the window.
I think we can also `wheelPropagation` true so that it can also scroll the window.
Should I make a PR @hereisnaman
Like this:
![213](https://user-images.githubusercontent.com/32234926/82783378-f104a180-9e7b-11ea-95ee-a82e2e240902.gif)

[2020-05-25 06:17] jugshaurya commented on #101
@samagragupta no I dont think scroll window is going to be a problem. try adding the main section again (just for testing). we can scroll the window. I don't think there is a problem with that.
![countr](https://user-images.githubusercontent.com/39825643/82784101-7a68a380-9e7d-11ea-8b93-75075baf9f21.png)

[2020-05-25 06:39] 0xnmn commented on #101
@samagragupta @jugshaurya Lets discuss both the implementations in detail. You both raise the PR.

I think enabling wheel propagation will be better. I'll compare them locally once both the PRs are raised.

[2020-05-25 06:58] jugshaurya commented on #101
@hereisnaman please review

[2020-05-25 07:02] samagragupta commented on #101
Okay, I will create the PR with my implementation.

[2020-05-25 11:16] joeedwin opened #122 "on clicking the the calender create form should not open for user as they cannot create the events."
![Untitled_ May 25, 2020 4_42 PM](https://user-images.githubusercontent.com/26297616/82808243-3a1e1b00-9ea7-11ea-8bc0-728c996a8022.gif)

[2020-05-25 11:45] #101 closed

[2020-05-25 11:50] #38 closed

[2020-05-25 16:14] #122 closed

[2020-05-26 09:08] jugshaurya commented on #114
@joeedwin @hereisnaman I was working on it!!

[2020-05-26 12:57] jugshaurya opened #126 "bug: onChange not found when checked is passed as prop"
![bug](https://user-images.githubusercontent.com/39825643/82903335-6b1d4f00-9f7e-11ea-865f-8b3a2185856d.png)

@hereisnaman, making a PR. assign it to me

[2020-05-26 13:01] jugshaurya commented on #126
@hereisnaman please review

[2020-05-26 18:17] 0xnmn commented on #114
I don't see any PRs.

[2020-05-27 01:48] #126 closed

[2020-06-04 03:48] #115 closed

[2020-06-04 04:10] #114 closed

[2020-06-04 05:03] #27 closed

[2020-06-05 13:20] #7 closed

[2020-06-08 07:30] prabalsingh24 opened #131 "Can't Add New Event"
I am getting this error while adding an event

![Screenshot from 2020-06-08 12-56-26](https://user-images.githubusercontent.com/45737735/84003539-d5bf8900-a987-11ea-905d-86e711d02465.png)

[2020-06-08 09:14] #131 closed

[2020-06-09 05:23] #113 closed

[2020-06-09 05:27] #18 closed

[2020-06-09 06:02] hereisnaman opened #132 "[Events] Add unique slug conflict failover"
The slug field for events is unique. It is generated based on the event title. So 2 events having the same title will have same slug. On creating the second event, the request will fail have because of the unique constraint.

Before creating an event, check how many events with the similar slug exists `LIKE '<slug>%'`. If count is non zero, append `-<count + 1>` to the new slug and create the even

[2020-06-09 16:09] prabalsingh24 commented on #132
@hereisnaman `slug` field in the table should be unique. But it does not have `unique` constraint in the table.
[slug-field-migration](https://github.com/coding-blocks/gondor/blob/f923413671e869854611912268bdc868e28b2f4d/api/migrations/20200526035531-add_slug_to_calendar_events.js#L8) shouldn't this be having `unique: true` ?

[2020-06-10 06:26] 0xnmn commented on #132
Because at that time the slug was nullable. Here is it set to unique: https://github.com/coding-blocks/gondor/blob/f923413671e869854611912268bdc868e28b2f4d/api/migrations/20200603194408-add-slug-to-not-null.js

But apparently the model is not updated accordingly. Can you fix that?

[2020-06-10 06:30] prabalsingh24 commented on #132
Should i do this in a different PR or the in my current PR only?
Also this would require a different Migration file right?

[2020-06-10 06:36] 0xnmn commented on #132
You can do in the same PR. As mentioned there is no missing parts in the db structure. The column was marked as unique once it was set to not null in the migration file linked.

You just need to update the sequelize model accordingly.

[2020-06-10 06:45] hereisnaman opened #134 "[Users] Add delete user mutation"
- [ ] Add a mutation `userDisable` to delete the user.
- [ ] The action should only be allowed to admins.
- [ ] Update login callback to not create a user if a deleted entity for that user is present

[2020-06-10 07:08] hereisnaman opened #135 "[Users] Implement undo user delete feature"
Once https://github.com/coding-blocks/gondor/issues/134 is resolved, we need a way to undo the delete by the admins.

- [ ] add a `userEnable` mutation to undo the delete.
- [ ] allowed only for admins.
- [ ] add an argument to the users query type named 'includeDisabled' based on which you include the disabled entities in the results too. By default it can be false. Even if it is true, the disabl

[2020-06-10 09:56] jugshaurya commented on #134
@hereisnaman, working on it, assign it to me

[2020-06-10 10:19] jugshaurya opened #136 "Migration Problem: Mulitple files exist for the same task"
@hereisnaman, inside migration folder two files are there for the same operation, adding is_public(20200526035358) and add_slug(20200526035531) which is causing problems in doing yarn sequelize db: migrate. Causing these two problems:

![b](https://user-images.githubusercontent.com/39825643/84256564-b5cbc900-ab31-11ea-905d-175ade42a6e2.png)

![a](https://user-images.githubusercontent.com/39825643/

[2020-06-10 11:55] jugshaurya commented on #136
@hereisnaman please review.

[2020-06-10 13:47] jugshaurya commented on #135
@hereisnaman, on it!

[2020-06-10 15:01] jugshaurya commented on #32
@hereisnaman, users are coming to be null even if I have seeded the users? can u tell me why?
should I pass some headers?

![c](https://user-images.githubusercontent.com/39825643/84283971-436edf00-ab59-11ea-8bd2-1862135bbaa8.png)

![e](https://user-images.githubusercontent.com/39825643/84284265-96e12d00-ab59-11ea-85cb-d565ff6cfbb9.png)

User table data: -
![d](https://user-images.githubusercontent

[2020-06-10 16:59] 0xnmn commented on #32
@jugshaurya try setting withCredentials as true in the gql playground settings.

[2020-06-10 18:43] jugshaurya commented on #32
yes, that worked thanks. Working on the issue now

[2020-06-11 08:37] #32 closed

[2020-06-11 13:08] vishalofficial965 opened #140 "Discord channel link updation @READ.ME"
Can you please update the discord group invite link @READ.me of gondor repo? :)

[2020-06-16 07:13] Ayush-Mahajan commented on #135
Is this issue still open?

[2020-06-16 08:58] 0xnmn commented on #135
Yes

[2020-06-16 12:22] jugshaurya commented on #135
Yes working on it. Just waiting for #134 to be merged.

[2020-06-16 12:29] Ayush-Mahajan commented on #135
So can I start working on it or should I wait for another issue to open up. I am new to BOSS so i dont have much experience with how exactly does the scoring and all works @hereisnaman

[2020-06-16 12:32] jugshaurya commented on #135
@Ayush-Mahajan, welcome to open source. There are other issues as well besides this. But you are more than welcome to work on this issue as well. But since this issue depends upon #134 issue of which i have submitted a PR, just waiting for its testing. You can start by testing my PR as well. #138

[2020-06-16 12:34] Ayush-Mahajan commented on #135
@jugshaurya thanks. I tried looking for other issues but i think all of them are taken

[2020-06-16 12:39] jugshaurya commented on #135
As of now nothing is taken you can work on any issue and submit a PR. If they like it it will get merged. By the out of 6 issues in this repo 4 are not taken by anyone or no one has worked in last 5 days. So you can work there.also try other repos like codingblocks boss repo. Good luck

[2020-06-16 14:44] Ayush-Mahajan commented on #135
ohh thanks

[2020-06-18 09:08] #134 closed

[2020-06-22 10:45] #132 closed

[2020-08-09 07:26] YashKumarVerma commented on #51
While verifying bounty claim, please check the PR. The label is attached on the PR.

![image](https://user-images.githubusercontent.com/14032427/89727134-c1f3da00-da3f-11ea-8145-bb69c0a72686.png)